[submodule "cookbook"]
	path = cookbook
	url = git@github.com:VincentSaelzler/cookbook.git
[submodule "love"]
	path = love
	url = git@github.com:VincentSaelzler/love.git
[submodule "homepage"]
	path = homepage
	url = git@github.com:VincentSaelzler/homepage.git
